workflows/ai-jobscraper/workflow-2.json
{
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0BBS9AGF99",
          "mode": "list",
          "cachedResultName": "jobs-ai"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        80,
        0
      ],
      "id": "8e42da9c-b080-4972-9356-bdb339527f22",
      "name": "Slack Trigger",
      "webhookId": "73f5bef4-947d-47e3-a9af-730ddaf12400",
      "credentials": {
        "slackApi": {
          "id": "HCEVyzQfFHppYtf6",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BBS9AGF99",
          "mode": "list",
          "cachedResultName": "jobs-ai"
        },
        "text": "=Searching '{{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[1].text }}' jobs... ",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        784,
        -64
      ],
      "id": "4faa8eb6-b618-4fb7-a704-2f7cda3805c0",
      "name": "Send 'searching for jobs'",
      "webhookId": "b3ee1b95-0499-427f-a3ab-649ed5f734ae",
      "credentials": {
        "slackApi": {
          "id": "HCEVyzQfFHppYtf6",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[1].text }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "num_pages",
              "value": "1"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "date_posted",
              "value": "3days"
            },
            {
              "name": "work_from_home",
              "value": "true"
            },
            {
              "name": "employment_types",
              "value": "PARTTIME, FULLTIME"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "jsearch.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "e817bdad36msh7582e9d7733440dp15b953jsneac352900833"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        -64
      ],
      "id": "fee5c6e1-0bcd-4c37-8687-d8f7e5ec3e54",
      "name": "Get all jobs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fdbd9dc9-9608-468a-ae1d-fce31acea22f",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        0
      ],
      "id": "b34f7cbb-7699-402b-aace-a3a293c6bc34",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BBS9AGF99",
          "mode": "list",
          "cachedResultName": "jobs-ai"
        },
        "text": "Invalid query or no results found",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1440,
        48
      ],
      "id": "af7a4082-f04c-4be5-bd6e-f599c17c84e2",
      "name": "Invalid query or no results",
      "webhookId": "81e8c726-068f-4227-9f86-05c937a5640a",
      "credentials": {
        "slackApi": {
          "id": "HCEVyzQfFHppYtf6",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BBS9AGF99",
          "mode": "list",
          "cachedResultName": "jobs-ai"
        },
        "text": "Invalid query or no results found",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        784,
        96
      ],
      "id": "99956076-7c4f-4e11-964d-eff0e16e0ee7",
      "name": "Invalid query or no results1",
      "webhookId": "81e8c726-068f-4227-9f86-05c937a5640a",
      "credentials": {
        "slackApi": {
          "id": "HCEVyzQfFHppYtf6",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3c49e9cd-a2ff-48f4-98de-63842e1568ac",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        -64
      ],
      "id": "dee8ca63-92a5-4452-bf51-4cae33018011",
      "name": "jobs array has element/s?"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1440,
        -160
      ],
      "id": "34da02f1-bd6c-4580-b260-bc92e7a5b5e3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1616,
        -160
      ],
      "id": "0e1965a7-961e-4988-8856-1fc1f8a487fe",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1JZKuUxbi5aMK_HKaQPmBx994FljRYbFHt_Ud1KC9MVc"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1824,
        -64
      ],
      "id": "b8e983b3-5854-4220-9e99-08f7028e1554",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "33hbaeOsHrbjmryQ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert resume analyst, ATS optimization specialist, and job-application assistant. Given a resume, job title, and job description, produce tailored application materials following the strict rules below.\n\n═══════════════════════════════════════\nINPUTS\n═══════════════════════════════════════\nJOB TITLE:\n{{ $('Loop Over Items').item.json.job_title }}\n\nRESUME CONTENT:\n{{ $json.content }}\n\nJOB DESCRIPTION:\n{{ $('Loop Over Items').item.json.job_description }}\n\nJOB POST URL:\n{{ $('Loop Over Items').item.json.job_apply_link }}\n\n═══════════════════════════════════════\nTASKS\n═══════════════════════════════════════\n1. Analyze the resume against the job title and job description. Identify the most relevant keywords, skills, and requirements.\n\n2. Rewrite the resume to be ATS-friendly and optimized for this specific job:\n   - Naturally incorporate keywords from the job description.\n   - Keep wording professional, concise, and quantifiable where the source data supports it.\n   - Do NOT fabricate experience, metrics, or skills. Only strengthen and reframe what already exists in the resume.\n   - Write each section primarily in paragraph form, using bullets only where they improve clarity:\n     • ProfessionalSummary: 2–4 sentences summarizing expertise and value relative to this role.\n     • CoreSkills: A short paragraph, optionally followed by a focused list of key skills.\n     • listOfProjects: Short paragraphs per project, with bullets for key achievements or outcomes.\n     • ProfessionalExperience: A paragraph per role, with bullets for main responsibilities and measurable achievements.\n\n3. If the JOB DESCRIPTION contains an email address, draft a polished application email (draftEmailAddress, draftEmailSubject, draftEmailBody). Otherwise leave these fields as empty strings.\n\n4. If the JOB POST URL is an Upwork link, write a compelling, tailored Upwork proposal (jobProposalforUpwork). Otherwise leave this field as an empty string.\n\n═══════════════════════════════════════\nOUTPUT RULES\n═══════════════════════════════════════\n- Return ONLY valid JSON matching the schema below. No markdown, no code fences, no commentary before or after.\n- Use empty strings for any field that does not apply.\n- Escape all special characters so the output is strictly parseable JSON.\n\n[{\n  \"newResumeContent\": {\n    \"ProfessionalSummary\": \"\",\n    \"CoreSkills\": \"\",\n    \"listOfProjects\": \"\",\n    \"ProfessionalExperience\": \"\"\n  },\n  \"jobProposalforUpwork\": \"\",\n  \"draftEmailAddress\": \"\",\n  \"draftEmailSubject\": \"\",\n  \"draftEmailBody\": \"\"\n}]",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2032,
        -64
      ],
      "id": "e9afac80-eb0a-48b8-bcf7-1fea58837ea7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"newResumeContent\": {\n    \"ProfessionalSummary\": \"\",\n    \"CoreSkills\": \"\",\n    \"listOfProjects\": \"\",\n    \"ProfessionalExperience\": \"\"\n  },\n  \"jobProposalforUpwork\": \"\",\n  \"draftEmailAddress\": \"\",\n  \"draftEmailSubject\": \"\",\n  \"draftEmailBody\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2176,
        176
      ],
      "id": "ee4a1eec-89c4-41fb-b5ed-e34eee1dcb95",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a classifier inside an n8n workflow. Your only task is to decide whether the user query below is a request to search for a job.\n\nUser query: \"{{$json.blocks[0].elements[0].elements[1].text.trim() }}\"\n\nA query counts as a job search if it expresses intent to FIND or APPLY for a job. Signals include:\n- Keywords: job, career, employment, hiring, position, vacancy, opening, role, apply, application, \"looking for work\"\n- A specific job title used in a \"find me / search for\" context (e.g. \"backend developer in Cebu\", \"remote React jobs\")\n- Questions about finding openings or where to apply\n\nDo NOT classify as a job search:\n- General career advice (\"how do I negotiate salary\", \"is Go a good language to learn\")\n- Resume or interview help with no search intent (\"review my resume\", \"interview tips\")\n- Questions about a job the user already has\n- Anything unrelated to employment\n\nRespond with EXACTLY one word, uppercase, no punctuation, no explanation, no quotes:\n- YES — if it is a job search\n- NO — if it is not\n\nOutput only YES or NO."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        272,
        0
      ],
      "id": "5ac8b3e4-0fce-4d0b-88b5-4597e3064a43",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "MyWfNbo8tfqxFBhQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2032,
        176
      ],
      "id": "004f41fc-4d4e-4ee2-84ff-d97e97b07f8d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "JergPLyANWzb8moo",
          "name": "OpenRouter - Jobs Scraper API Key"
        }
      }
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send 'searching for jobs'": {
      "main": [
        [
          {
            "node": "Get all jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all jobs": {
      "main": [
        [
          {
            "node": "jobs array has element/s?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Send 'searching for jobs'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid query or no results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "jobs array has element/s?": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid query or no results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62321179cc19b75af231b321b2a266091110193c6f3b16e41df7845f5257d3c9"
  }
}